/* main.css */

/* 通用样式 */
body {
    font-family: Arial, sans-serif; /* 确保与 Bootstrap 字体风格协调 */
}

/* 导航栏样式 */
.navbar {
    background-color: dodgerblue; /* 定制导航栏背景色 */
}

.nav-link {
    color: white; /* 设置导航链接的颜色 */
    background-color: dodgerblue;
}

.nav-link:hover {
    background-color: lightskyblue; /* 设置导航链接悬停时的背景色 */
}

.dropdown-menu {
    background-color: dodgerblue; /* 设置下拉菜单的背景色 */
}

.dropdown-item {
    color: white; /* 设置下拉菜单项的文字颜色 */
}


/* 其他页面元素样式 */
.sidebar {
    width: 200px;
    background: #f4f4f4;
    height: 100vh;
    position: fixed;
    top: 100px; /* 根据您的页面头部高度调整 */
    left: 0;
    overflow-y: auto;
}

.nav.flex-column {
    padding: 1rem;
}

main {
    margin-left: 200px; /* 确保主内容区域不被侧边栏遮挡 */
    padding: 1rem;
}

.file-content {
    flex-grow: 1; /* 确保内容区域充满剩余空间 */
}

.recent-files {
    width: 300px;
    margin-left: 1rem;
    padding: 1rem;
    background: #fff;
    border-left: 1px solid #ddd;
}

.recent-files h3 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.5rem;
}

.navbar-nav.ml-auto {
    margin-left: auto;
}

.nav-link:not(.active) {
    background-color: whitesmoke; /* 设置未选中选项卡的背景颜色 */
}