/* style.css */
body, h1, h2, h3, p, li, a {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #0056b3;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    align-items: center;
}

.header-title {
    font-size: 1.5rem;
}

.main-nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.main-nav li {
    padding: 0 1rem;
    position: relative;
}

.main-nav a {
    color: white;
    text-decoration: none;
}

.dropdown {
    display: none;
    position: relative;
    /*display: inline-block;*/
    background-color: #0056b3;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

/* 下拉内容（默认隐藏）*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0056b3;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* 下拉列表中的链接 */
    .dropdown-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

.main-nav li:hover .dropdown-content {
    display: block;
}

.search-container {
    padding-left: 1rem;
}

    .search-container input[type="search"] {
        padding: 0.5rem;
    }

.sidebar {
    width: 200px;
    background: #f4f4f4;
    height: 100vh;
    position: fixed;
    top: 100px;
    left: 0;
    overflow-y: auto;
}

.client-file-menu ul {
    list-style-type: none;
    padding: 1rem;
}

.client-file-menu li a {
    display: block;
    padding: 0.5rem 0;
    color: #0056b3;
    text-decoration: none;
}

    .client-file-menu li a:hover {
        background-color: #ddd;
    }

main {
    margin-left: 200px;
    padding: 1rem;
    display: flex;
}

.file-content {
    flex-grow: 1;
}

.recent-files {
    width: 300px;
    margin-left: 1rem;
    padding: 1rem;
    background: #fff;
    border-left: 1px solid #ddd;
}

    .recent-files h3 {
        border-bottom: 1px solid #ddd;
        padding-bottom: 0.5rem
    }